# Copier ce fichier en .env sur le serveur Hetzner et remplir les valeurs

RESEND_API_KEY=re_votre_cle_ici
EMAIL_TO=valere.arnaud@gmail.com
EMAIL_FROM=contact@cabinetlaurentvalere.com
ARCHIVE_PATH=/srv/newsletters
